body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  border: 2px solid #195799;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  color: rgb(19, 16, 16);
  font-size: 24px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
  font-size: 18px;
  color: rgb(7, 6, 6);
}

input {
  color: #130e0e;
  background-color: whitesmoke;
  border: 1px solid #683535;
  padding: 5px;
}

button {
  background-color: #195799;
  color: #251c1c;
  border: none;
  padding: 6px 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover{
  background-color: #104075;
}

button:active{
  background-color: #0d306b;
}