body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 700px;
  padding: 20px;
  border: 2px solid var(--primary-color);
}

:root {
  --primary-color: #195799;
  --accent-color: #d9534f;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #333;
}

li {
  margin-bottom: 8px;
  font-size: 18px;
  color: #555;
  word-wrap: break-word;
  cursor: pointer; 
}

li:hover {
  color: var(--primary-color); 
  text-decoration: underline;
}

input {
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 97%;
  margin-bottom: 10px;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #104075;
  transform: scale(1.05);
}

button:active {
  background-color: #0d306b;
  transform: scale(0.95);
}

.todoItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeButton {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.closeButton:hover {
  background-color: #c9302c;
  transform: scale(1.05);
}

.closeButton:active {
  background-color: #ac2925;
  transform: scale(0.95);
}